@import url(cabecalho.css);
@import url(banner1.css);
@import url(produtos.css);
@import url(provasocial.css);
@import url(quemsomos.css);
@import url(form.css);
@import url(isosection.css);
@import url(footer.css);
@import url(posfooter.css);
@import url(blog.css);
@import url(produto.css);
@import url(institucional.css);


:root {
    --cor-primaria-cinzaclaro:#E7E5E3;
    --cor-secundaria-cinzamedio:#606060;
    --cor-terciaria-cinzaescuro:#2C292A;
    --cor-decoracao-laranja:#F47C38;
    --cor-neutra-branco:#FFFFFF;
    --font-family: "Montserrat", sans-serif;
}

body {
    --cor-terciaria-cinzaescuro:#2C292A;
    --cor-secundaria-cinzamedio:#606060;
    background-color: var(--cor-primaria-cinzaclaro);
    box-sizing: border-box;  
    color: var(--cor-terciaria-cinzaescuro);
    font-family: var(--font-family);
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
}

input[type=checkbox] {
  border: 2px solid var(--cor-secundaria-cinzamedio);
  box-shadow: none;
}

input[type=checkbox]:checked,
input[type="checkbox"]:focus {
  background-color: var(--cor-decoracao-laranja);
  border-color: var(--cor-decoracao-laranja);
  box-shadow: none;
  outline: none;
}

html {
    scroll-behavior: smooth;
}

/* --- Dark Mode Theme --- */
[data-bs-theme="dark"] {
    background-color: var(--cor-terciaria-cinzaescuro);
    color: white;
    --bs-body-bg: var(--cor-terciaria-cinzaescuro);
    --bs-body-color: white;
    --bs-bg-opacity: 1;
    --bs-nav-link-color: white;
    --bs-offcanvas-bg: var(--cor-terciaria-cinzaescuro);
    --bs-offcanvas-color: white;
}

[data-bs-theme="dark"] .nav-link,
[data-bs-theme="dark"] .container__botao-cotacao {
    color: white !important;
}

[data-bs-theme="dark"] .nav-link:hover {
    color: #F47C38 !important;
}

[data-bs-theme="dark"] .navbar-expand-lg {
    background-color: var(--cor-terciaria-cinzaescuro) !important;
}

[data-bs-theme="dark"] .container__navbar-imagem img,
[data-bs-theme="dark"] .offcanvas-title img {
    content: url(assets/lgcabecalhoclara220.png)
}

[data-bs-theme="dark"] .navbar-nav {
    background-color: var(--cor-terciaria-cinzaescuro)!important;
}

/* --- Dropdown Button --- */
.btn-torcisao-dropdown {
    background-color: var(--cor-decoracao-laranja);
    border-color: var(--cor-decoracao-laranja);
    border-radius: 10px 0 10px 0;
    color: white;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.btn-torcisao-dropdown:hover,
.btn-torcisao-dropdown:focus {
    background-color: #F47C38;
    border-color: #F47C38;
    color: white;
}
